name: Check if a secret is used in any repo

on:
  workflow_dispatch:
    inputs:
      secret_name:
        description: 'The name of secret to search for'
        required: true

env:
  ORG: kosli-dev
  GIT_CLONE_DIR: /tmp/kosli-dev-repos

jobs:
  check-if-secret-is-used:
    runs-on: ubuntu-latest
    needs: []
    steps:
      - name: Clone all repos
        env:
          GH_TOKEN: ${{ secrets.READ_ALL_REPOS_CYBER_DOJO }}
        run: |
          AUTH=$(echo -n "x-access-token:${{ secrets.READ_ALL_REPOS_CYBER_DOJO }}" | openssl base64 | tr -d '\n')          
          mkdir "${GIT_CLONE_DIR}"
          cd "${GIT_CLONE_DIR}"
          for REPO_NAME in $(gh repo list "${ORG}" --no-archived --limit 500 --json name --jq '.[].name' | grep --invert-match '.github'); do          
            REPO_URL="https://github.com/kosli-dev/${REPO_NAME}/"
            git -c "http.${REPO_URL}.extraheader=Authorization: Basic ${AUTH}" clone "${REPO_URL}" --depth=1
          done          

      - name: Search in all repos
        env:
          GH_TOKEN: ${{ secrets.READ_ALL_REPOS_CYBER_DOJO }}
        run: |
          cd "${GIT_CLONE_DIR}"
          for REPO_NAME in $(gh repo list "${ORG}" --no-archived --limit 500 --json name --jq '.[].name' | grep --invert-match '.github'); do
            echo "${REPO_NAME}"
            if [[ -d "${REPO_NAME}/.github" ]]; then
              grep -r "secrets.${{ inputs.secret_name }}" "${REPO_NAME}/.github" || true
            fi
          done          
